<section class="bodySection ">
    <div class="ShopPhoto mdl-shadow--4dp" >
    </div>
    <div class="ShowFinger">
        <div class="system_count">
            <div class="waitcount inline_text">
              <div class="title">目前等待號碼:</div>
              <div class="datatext">{{nowCount}}<div>&nbsp;&nbsp;&nbsp;號</div></div>
            </div>
            <div class="waittime inline_text">
              <div class="title">平均等待時間:</div>
              <div class="datatext"><div>&nbsp;&nbsp;分鐘</div></div>
            </div>
        </div>
    </div>
<button id="myBtn" title="Go to top" (click) = "finger()">
    <li class="f-text far fa-hand-point-down"></li>
    <div class="s-text">
        抽號
    </div>
</button>

</section>
