
.navbar {
    height: 9vh;
    width: 100vw;
}

.google-font-header {
    font-family: 'Montserrat';
    color: #FFFFFF;
    font-size: 1.7em;
}

.toLeft {
    left: 16px;
    position: absolute;
}

.nav-top-color {
    background-color: rgb(16, 135, 204);
}

.zindex {
    z-index: 4030;
}