<section class="bodySection ">
      <div class="ShopPhoto mdl-shadow--4dp">
          <img class ="img-fluid" src="../../assets/c-img/queue-header.jpg" alt="排隊" >
      </div>
      <div class="body_content">
          <div class="display_count">
              <button id="AddInQueueBtn">
                      <div class="f-text "  id="GetNumber">{{val}}</div>
                      <div class="s-text" >
                          我的號碼
                      </div>
              </button>
          </div>
          <div class="notify">
              <a href="https://line.me/R/ti/p/%40tlf2414x" 
              (click) = "SendReceiveInfo()" 
              style="color:#FFFFFF;">
                  <button
                    class="cabcelbtn btn mdl-shadow--3dp"
                  >接收通知
                  </button>
              </a>
          </div>
          <div class="ShowText">
                  <div class="system_count">
                      <div class="waittime inline_text">
                          <div class="title">前方尚餘:</div>
                          <div class="datatext">5&nbsp;號</div>
                        </div>
                      <div class="waitcount inline_text">
                        <div class="title">總隊列人數:</div>
                        <div class="datatext">12&nbsp;&nbsp;號</div>
                      </div>
                      <div class="waittime inline_text">
                        <div class="title">已等待時間:</div>
                        <div class="datatext">4:38&nbsp;分鐘</div>
                      </div>
                  </div>
          </div>
      </div>
  </section>

  