<section class="bodySection ">
    <div class="ShowCount mdl-shadow--4dp" >
        <div class="search-container">
              <input type="text" placeholder="搜尋遊戲" name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
          </div>
    </div>
    <div class="ShowCondition mdl-shadow--4dp" >
      <div class="tab tab1">5分鐘以下</div>
      <div class="tab">5-10分鐘</div>
      <div class="tab">10分鐘以上</div>
    </div>
    <div class="flexcontainer">
        <div class="top_section" >

        </div>
        <div class="accordion" >
            <div class="type">品牌</div>
            <div class="game">
              <div class='g-show'></div>
              <div class='g-show'></div>
              <div class='g-show'></div>
              <div class='g-show'></div>
            </div>
        </div>
        <div class="accordion" >
            <div class="type">競技</div>
            <div class="game">
              <div class='g-show'></div>
              <div class='g-show'></div>
              <div class='g-show'></div>
              <div class='g-show'></div>
            </div>
          </div>
    </div>
  </section>
