<section class="bodySection ">
  <div class="ShopPhoto mdl-shadow--4dp" >
  </div>
  <div class="ShowFinger">

      <div class="system_count">
          <button class="cabcelbtn btn mdl-shadow--3dp">接收通知</button>
          <div class="waittime inline_text">
              <div class="title">前方尚餘:</div>
              <div class="datatext">5&nbsp;號</div>
            </div>
          <div class="waitcount inline_text">
            <div class="title">總隊列人數:</div>
            <div class="datatext">12&nbsp;&nbsp;號</div>
          </div>
          <div class="waittime inline_text">
            <div class="title">已等待時間:</div>
            <div class="datatext">4:38&nbsp;分鐘</div>
          </div>
      </div>

  </div>

<button id="myBtn">
  <div class="f-text ">{{val}}</div>
  <div class="s-text">
     我的號碼
  </div>
</button>

</section>
