<section class="bodySection ">
  <div class="ShowCount mdl-shadow--4dp" >
    <div class="system_state">
        <div class="togglebar t-item">
            <label class="t-item mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
                <input type="checkbox" id="switch-2" class="sw-bg mdl-switch__input">
                <span class="mdl-switch__label"></span>
            </label>
        </div>
        <div class="status t-item">
          <div class="t-item" (click)="open()">OPEN TIME</div>
        </div>
    </div>
    <div class="system_count">
      <div class="waitcount inline_text">
        <div class="title">Current Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{waiting_number}}&nbsp;&nbsp;號</div>
      </div>
      <div class="waittime inline_text">
        <div class="title">Average Waiting Time:&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;Min</div>
      </div>
    </div>
  </div>
  <div class="ShowList">
    <div class="list_container box" >
        <div class="accordion"
        *ngFor="let item of list">
            <div class="li mdl-shadow--3dp">
              <div class="circle" (click) = "openAccordion($event)">
                  <img class="img img-fluid" src="../../assets/c-img/user-icon-blue.png" alt="user"/>
              </div>
              <div class="count">
                <div class="text">{{item.queue_number}}</div>
              </div>
              <div class="displayname">
                <div class="text">Customer{{item.queue_number}}</div>
              </div>
              <div class="title">
                <div class="text">......</div>
              </div>
              <div class="status">
                <div class="status_text">
                  unread
                </div>
              </div>
            </div>
        <div class="panel">
            <div class="title">
                <div class="text">title</div>
                <div class="edit">修改</div>
                <div class="delete">刪除</div>
              </div>
              <div class="textarea">

              </div>
            </div>
        </div>
    </div>
  </div>
    <!-- <div id='btn_center'> -->
        <button id="myBtn" title="Go to top"
        (click)="removeList()">
            <div class="f-text">
                Next
            </div>
            <div class="s-text">
                Count
            </div>
        </button>
    <!-- </div> -->

</section>
