

.toLeft{
  margin-left: -10px;
}

.bodySection {
  color: rgb(139, 138, 138);
  background-color: #EEEEEE;
  height: 90vh;
  z-index: 0;
}

.bodySection > .header-content {
width: 100vw;
text-align: center;
}

/* queueManage */
.ShowCount {
    height: 13vh;
    width: 100%;
    /* border:1px solid rgb(0, 0, 0); */
    background-color: #FFFFFF;
    display: flex;
  }
  .system_state{
    /* border:1px solid rgb(0, 0, 0); */
    width: 47vw;
    display: flex;
  }

  .system_state > .togglebar {
    border:inherit;
  }
  .system_state > .togglebar > .t-item {
    margin-left:16px;
    margin-top: 2.6vh;
  }
  .system_state > .status {
    border:inherit;
  }
  .system_state > .status > .t-item {
    margin-left:4.4vw;
    margin-top: 2.8vh;
    font-size: 1.25em;
    font-family: Noto Sans CJK TC;
  }

   .system_count{
    width: 53vw;
    border:inherit;
  }
  .system_count > .waitcount {
    margin-top: 2.6vh;
  }
  /* .system_count > .waittime {
    margin-top: 16px;
  } */
  .system_count > .inline_text {
    border:inherit;
    display: flex;
  }
  .system_count > .inline_text > .title {
    border:inherit;
    text-align: center;
  }
  .system_count > .inline_text  > .datatext {
    border:inherit;
  }


/* 叫號清單  */
    .ShowList {
      /* 待調整 */
      height: 78vh;
      padding-top: 3.6vh;
      width: 100%;
      /* border:1px solid rgb(0, 0, 0); */
      text-align: center;
      overflow: auto;
    }
    .ShowList > .list_container {
      display: inline-block;
      width: 360px;
      height: 100%;
      /* border:1px solid rgb(0, 0, 0); */
    }
    .list_container > .accordion {
      margin-bottom: 1.3vh;
    }
    .list_container > .accordion > .li {
      width: 100%;
      height: 7.5vh;
      display: flex;
      /* border:1px solid rgb(0, 0, 0); */
      background-color: #FFFFFF;
      z-index: 100;
    }
    .list_container > .accordion > .panel {
      width: 100%;
      height: 132px;
      /* border:1px solid rgb(0, 0, 0); */
      background-color: #FAFAFA;
    }

    .Accactive, .accordion:hover {
      background-color: #ccc;
    }
    .accordion > .li > .circle{
      width: 12.8vw;
      height: 100%;
    }
    .accordion >.li >.circle >.img {
      /* border:1px solid rgb(0, 0, 0); */
      border-radius: 50%;
      width: 8.3vw;
      height: 8.3vw;
      margin: 2.2vw;
    }
    .accordion > .li > .count{
      width: 9.4vw;
      height: 100%;
      /* border:1px solid rgb(0, 0, 0); */
    }
    .accordion > .li > .displayname{
      width: 18.6vw;
      height: 100%;
      /* border:1px solid rgb(0, 0, 0); */
    }
    .accordion > .li > .title{
      width: 30vw;
      height: 100%;
      /* border:1px solid rgb(0, 0, 0); */
    }
    .accordion > .li > .status{
      width: 18.4vw;
      height: 100%;
      /* border:1px solid rgb(0, 0, 0); */
    }
    .accordion > .li > * > .text {
      margin-top:2.2vh;
    }
    .accordion > .li >.status >.status_text {
      font-size: 0.95em;
      margin-top: 2.2vh;
    }
    .accordion > .li >.status >.status_time{
      font-size: 0.93em;
      /* margin-bottom: 1.3vh; */
    }

    .accordion > .panel{
      /* display: inline-flex; */
      flex-direction:column;
      flex-wrap:wrap;
      display: none;
    }
    .accordion > .panel > .title {
      width: 100%;
     height: 45px;
      display: flex;
    }
    .panel > .title > .text {
      flex: 3;
    }
    .panel > .title > .edit , .panel > .title > .delete {
      flex: 1;
    }
    .accordion > .panel > .textarea {
      width: 100%;
      height: 85px;
    }
      /* 漂浮按鈕 */
    #myBtn {
      /* display: none; */
      /* position: fixed;
      bottom: 80px; */
      /* right: 30px;  */
      z-index: 4500;
      font-size: 1.25em;
      width: 9.7vh;
      height: 9.7vh;
      border: none;
      outline: none;
      background-color: #1DA1F2;
      color: white;
      cursor: pointer;
      border-radius: 50%;
      position: fixed;
      left: 52%;
      -ms-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      /* margin: 5% auto; */
      /* padding: 10px; */
      /* 字距 */
      letter-spacing: 1px;
      /* 行距 */

      bottom: 11.7vh;
      z-index: 200;
      box-shadow: #000 0 2px 18px;
    }
    #myBtn:active{
      width: 9.4vh;
      height: 9.4vh;
    }
    /* #myBtn >.f-text {
      margin-bottom: 1px;
    } */

    #btn_center{
      display: inline-block;
      text-align: center;
      width: 100%;
      height: 100%;
    }
